<nav-page title="item.name">
  <content has-header="true" padding="true">
    <h3>{{item.name}}</h3>
    <div>Item ID: {{item.id}}</div>
    <p>Rate this item in the following categories</p>
    <div class="list">
      <div class="item" ng-repeat="attr in ratedAttributes">
        {{attr.name}}
        <div class="ratings">
          <button class="button button-clear icon ion-star" ng-click="setRating(attr.name, 1)" ng-class="{true:'button-assertive', false:'button-gray'}[attr.rating==1]">1</button>
          <button class="button button-clear icon ion-star" ng-click="setRating(attr.name, 2)" ng-class="{true:'button-energized', false:'button-gray'}[attr.rating==2]">2</button>
          <button class="button button-clear icon ion-star" ng-click="setRating(attr.name, 3)" ng-class="{true:'button-balanced', false:'button-gray'}[attr.rating==3]">3</button>
        </div>
      </div>
    </div>
  </content>
</nav-page>