<nav-page id="app-page" ng-controller="HomeCtrl">

  <!--
  Create tabs with an icon and text label, using the tabs-positive style (blue by default),
  and disabling header title animation when switching tabs.
  -->
  <tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive" animate-nav="false">
    <tab title="Lists" icon="icon ion-home" ng-controller="ListsCtrl" right-buttons="rightButtons">
      <content has-header="true" has-tabs="true">
        <list>
          <link-item ng-repeat="list in lists" type="item-text-wrap item-icon-left" href="#/lists/{{list.id}}">
              <i ng-click="editList($event, list.id)" class="energized icon ion-gear-b"></i> <span>{{list.name}}</span>
            </item>
          </link-item>
        </list>
      </content>
    </tab>

    <!-- Home tab -->
    <tab title="About" icon="icon ion-search">
      <content has-header="true" has-tabs="true" padding="true">
        <h3>About this app</h3>
        <p>
          Developed by <a href="http://www.tenforwardconsulting.com">Ten Forward Consulting</a> as a test of the <a href="http://www.ionicframework.com">Ionic Framework</a>
        </p>
      </content>
    </tab>

  </tabs>
</nav-page>
